@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
.MuiDataGrid-root,
code {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.btn {
  @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  @apply my-3;
}

main {
  @apply mx-6;
}

h1 {
  @apply text-3xl font-bold leading-tight tracking-tight text-gray-900 mb-3;
}

h2 {
  @apply font-semibold leading-tight tracking-tight text-gray-900 mb-3;
}

.queryBuilder .form-control,
.queryBuilder .form-select {
  display: inline-block;
  width: auto;
}

.qbp input,
.qbp select {
  @apply min-w-0 flex-1 rounded-none rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm mr-2;
}

.qbp .btn {
  @apply mr-2 my-1;
}

code {
  @apply block bg-gray-900 font-mono font-thin text-white p-3 py-2 my-1;
}

.ruleGroup .ruleGroup {
  @apply shadow ring-1 ring-black ring-opacity-5 rounded m-3 p-3;
}

.filepond--credits {
  display: none !important;
}

.filepond--wrapper {
  @apply my-3;
}
