@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

html,
body,
.MuiDataGrid-root,
code {
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI !important; */
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI" !important;
}

.btn {
    @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
    @apply my-3;
}

main {
    @apply mx-6;
}

h1 {
    @apply text-3xl font-bold leading-tight tracking-tight text-gray-900 mb-5;
    @apply text-2xl font-semibold text-gray-900;
}

h2 {
    @apply font-semibold leading-tight tracking-tight text-gray-900 mb-3;
}

h3 {
    @apply font-semibold leading-tight tracking-tight text-gray-900 mb-3 text-lg mt-5;
}

.queryBuilder .form-control,
.queryBuilder .form-select {
    display: inline-block;
    width: auto;
}

.qbp input,
.qbp select {
    @apply min-w-0 flex-1 rounded-none rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm mr-2;
}

.qbp .btn {
    @apply mr-2 my-1;
}

code {
    @apply block text-center italic text-sm font-light text-gray-500 p-3 py-2 my-1 bg-white;
    @apply ring-1 ring-black shadow-sm rounded-sm py-1.5 ring-opacity-10 mt-1.5;
    /* @apply shadow */
}

pre {
    @apply w-4/6 flex-auto;
}

.ruleGroup .ruleGroup {
    @apply shadow-sm ring-1 ring-black ring-opacity-5 rounded m-3 p-3;
}

.ruleGroup-header {
    @apply hidden;
}

.filepond--credits {
    display: none !important;
}

.filepond--wrapper {
    @apply my-3;
}

.cl-userButtonPopoverFooter,
.cl-internal-b3fm6y,
.cl-organizationSwitcherPopoverFooter {
    display: none !important;
}

.cl-card {
    @apply shadow-none ring-1 ring-black ring-opacity-10;
}

.cl-main {
    gap: 1.2em;
}

.cl-formFieldInput__phoneNumber {
    padding: 0.625rem 1rem 0.625rem calc(5rem + 1ch) !important;
}

/* .cl-navbar {
  @apply hidden;
} */

.nav-item {
    @apply flex items-center px-2 py-2 text-sm font-medium rounded-md;
    @apply text-gray-500 hover:bg-gray-100 hover:text-gray-900;
}

.nav-item svg {
    @apply mr-3 flex-shrink-0 h-6 w-6 text-gray-300 group-hover:text-gray-500;
}

.nav-item.current,
/* .nav-item.current svg, */
.nav-item:hover {
    @apply bg-gray-100 text-gray-400;
}

.brand,
.brand * {
    /* color: #2d28ff !important; */
    /* @apply text-black; */
    /* color: #0738d2; */
    /* @apply font-semibold; */
}

.brand span {
    @apply text-xl mx-3;
    font-weight: 500 !important;
    /* @apply text-gray-800; */
}

.DocSearch-Button {
    /* width: 100% !important; */
    @apply w-full block;
    padding: 20px !important;
    margin-top: 0 !important;
}

html {
    @apply h-full bg-gray-50;
}

body {
    @apply h-full;
}

/* ebedf0 */

.text-black,
/* .current *, */
.current {
    color: #555 !important;
    /* color: #5b96f5 !important; */
    /* color: #00e !important; */
    /* @apply text-purple-400 !important; */
}
.bg-gray-400 {
    /* background-color: #5b96f5 !important; */
}

.brand svg {
    @apply text-gray-400 !important;
}
.brand svg {
    margin-top: 1px !important;
}

.cl-organizationPreviewAvatarBox {
    @apply bg-gray-300;
}
.DocSearch.DocSearch-Button {
}

/* Dark mode */
@media (prefers-color-scheme: dark), html[data-theme="dark"] {
    .nav-item {
        @apply text-inherit;
    }
    .bg-gray-50 {
        background-color: #202124;
        color: #bdc1c6;
    }
    .bg-white,
    .cl-card {
        background: #202124 !important;
    }
    .cl-card,
    .cl-card *,
    .cl-rootBox,
    .cl-rootBox * {
        color: #bdc1c6 !important;
    }
    .text-gray-900 {
        color: #bdc1c6;
    }
    .border-gray-200 {
        border-color: #333 !important;
    }
    .shadow-sm {
        @apply shadow ring-white ring-opacity-10;
    }
    .bg-gray-100 {
        /* background: #333; */
        @apply bg-neutral-800;
    }
    .text-gray-400 {
        color: #bdc1c6;
    }
    .text-black {
        color: #bdc1c6;
    }
    .sticky.top-0 {
        border-bottom: 1px solid #333 !important;
    }
    .text-gray-700 {
        color: #bdc1c6;
    }
    .btn {
        @apply hover:bg-neutral-700;
    }
    .MuiDataGrid-root,
    .MuiDataGrid-root * {
        border-color: #333 !important;
        color: #bdc1c6;
    }

    /*Search*/
    :root,
    * {
        --ifm-color-scheme: dark;
        --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
        --ifm-color-emphasis-100: var(--ifm-color-gray-900);
        --ifm-color-emphasis-200: var(--ifm-color-gray-800);
        --ifm-color-emphasis-300: var(--ifm-color-gray-700);
        --ifm-color-emphasis-400: var(--ifm-color-gray-600);
        --ifm-color-emphasis-600: var(--ifm-color-gray-400);
        --ifm-color-emphasis-700: var(--ifm-color-gray-300);
        --ifm-color-emphasis-800: var(--ifm-color-gray-200);
        --ifm-color-emphasis-900: var(--ifm-color-gray-100);
        --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
        --ifm-background-color: #1b1b1d;
        --ifm-background-surface-color: #242526;
        --ifm-hover-overlay: hsla(0, 0%, 100%, 0.05);
        --ifm-color-content: #e3e3e3;
        --ifm-color-content-secondary: #fff;
        --ifm-breadcrumb-separator-filter: invert(64%) sepia(11%) saturate(0%)
            hue-rotate(149deg) brightness(99%) contrast(95%);
        --ifm-code-background: hsla(0, 0%, 100%, 0.1);
        --ifm-scrollbar-track-background-color: #444;
        --ifm-scrollbar-thumb-background-color: #686868;
        --ifm-scrollbar-thumb-hover-background-color: #7a7a7a;
        --ifm-table-stripe-background: hsla(0, 0%, 100%, 0.07);
        --ifm-toc-border-color: var(--ifm-color-emphasis-200);
        --ifm-color-primary-contrast-background: #102445;
        --ifm-color-primary-contrast-foreground: #ebf2fc;
        --ifm-color-secondary-contrast-background: #474748;
        --ifm-color-secondary-contrast-foreground: #fdfdfe;
        --ifm-color-success-contrast-background: #003100;
        --ifm-color-success-contrast-foreground: #e6f6e6;
        --ifm-color-info-contrast-background: #193c47;
        --ifm-color-info-contrast-foreground: #eef9fd;
        --ifm-color-warning-contrast-background: #4d3800;
        --ifm-color-warning-contrast-foreground: #fff8e6;
        --ifm-color-danger-contrast-background: #4b1113;
        --ifm-color-danger-contrast-foreground: #ffebec;
        --ifm-font-base-color: #dee0f2;
        --ifm-navbar-link-hover-color: #8b9dff;
        --ifm-link-color: #8b9dff;
        --ifm-menu-color-active: #8b9dff;
        --ifm-background-color: #0a141c;
        --ifm-footer-background-color: #0a141c;
        --ifm-navbar-background-color: #21243d;
        --ifm-menu-color-background-active: #21243d;
        --docsearch-text-color: #f5f6f7;
        --docsearch-container-background: rgba(9, 10, 17, 0.8);
        --docsearch-modal-background: #15172a;
        --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
        --docsearch-searchbox-background: #333;
        --docsearch-searchbox-focus-background: #000;
        --docsearch-hit-color: #bec3c9;
        --docsearch-hit-shadow: none;
        --docsearch-hit-background: #090a11;
        --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
        --docsearch-key-shadow: inset 0 -2px 0 0 #282d55,
            inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, 0.3);
        --docsearch-footer-background: #1e2136;
        --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
            0 -4px 8px 0 rgba(0, 0, 0, 0.2);
        --docsearch-logo-color: #fff;
        --docsearch-muted-color: #7f8497;
    }
}

main button[type="button"]:not(.MuiButtonBase-root) {
    @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

main button[disabled]:not(.MuiButtonBase-root) {
    @apply bg-gray-200 text-gray-400 !important;
}

main button[type="button"]:not(.MuiButtonBase-root).button-sm {
    @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

main button[type="button"]:not(.MuiButtonBase-root).button-xs {
    @apply inline-flex items-center rounded border border-gray-300 bg-white px-2.5 py-1.5 text-xs font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

.nav-item {
    @apply font-normal;
    @apply text-gray-600;
}

.nav-item.current,
.nav-item.current *,
.nav-item:hover,
.nav-item:hover * {
    @apply bg-gray-100 font-medium;
}

/* .nav-item.current,
.nav-item.current *,
.nav-item:hover,
.nav-item:hover *, */
.brand,
.brand * {
    color: #2d28ff !important;
}

.page-title-descriptor {
    @apply text-gray-400 text-base font-light -mt-4 mb-3;
}

.nav-item {
    border-left-width: 3px;
    border-radius: 0;
    border-color: white;
}

.nav-item.current,
.nav-item:hover {
    border-color: #ddd;
}
